In [7]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')

df.columns

# Read each column
#print(df[['Name', 'Type 1', 'HP']])


# Read each row
#for index, row in df.iterrows():
 #   print(index, row['Name'])
    
    
    
#df.sort_values(['Type 1', 'HP'], ascending=[1,0])

#df['Total'] = df.iloc[:, 4:10].sum(axis=1)

#cols = list(df.columns)

#df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

#df.head(5)


#df.to_csv('modified.csv')

NameError: name 'new_df' is not defined

In [10]:
#df.to_csv('modified.csv', index=False)

In [11]:
#df.to_excel('modified.xlsx', index=False)

In [12]:
#df.to_csv('modified.txt', index=False, sep='\t')

In [24]:
#df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

import re

df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True